# Ambiente virtual
venv/
env/
.venv/

# Credenciais e sessões geradas pelo Telethon
*.session
*.session-journal

# Pasta de downloads locais (opcional, para não subir os arquivos pesados)
downloads_telegram/

# Cache do Python
__pycache__/
*.pyc
